@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
  padding:0;
  margin:0;
  text-decoration: none;
  border:0;
}
#loading{
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:50;
}
#loading img{
  height: 64px;
  width: 64px;
}
.menu-container{
  position: fixed;
  box-shadow: 0px 0px 5px #000;
  width:15vw;
  height: 100vh;
  align-items: center;
  background-color: rgba(3,143,227,.2);
  border-right:.1px solid black;
  z-index: 50;
}
.menu-container .menu-brand{
  height:20vh;
}
.menu-container .menu-brand{
  text-decoration: none;
  color:black;
  font-family: Kanit , sans-serif;
  font-size:20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom:1px solid #000;
  box-shadow:0px 0px 5px #000;
}
.menu-container .menu-brand img{
  height: 55px;
  float:left;
}
.menu-container .menu-button{
  display: none;
 
}
.menu-container .menu-collepse{
  display: block;
}
.menu-container .menu-collepse ul{
  list-style: none;
}
.menu-container .menu-collepse ul li{
  width: 15vw;
  float:left;
}
.menu-container .menu-collepse ul li a{
  display: block;
  position:relative;
  text-decoration: none;
  color:black;
  font-family:Roboto,sans-serif;
  font-size:13px;
  background-color: rgba(255,255,255,.1);
  margin:5px;
  width:90%;
  padding:10px 0px;
  text-align: center;
  transition: 400ms color;
}

.menu-container .menu-collepse ul li a i{
  position:absolute;
  left:15px;
}

.menu-container .menu-collepse ul li a:hover,a.active{
  box-shadow:0px 0px 1px rgb(45, 75, 155);
  color:rgb(88, 88, 88);
  font-weight: bold;cursor: pointer;
}
.menu-container .menu-collepse ul li a:hover::after , a.active::after{
  content:'\f104';
  position:absolute;
  right:0;
  padding-right:5px;
  text-align: left;
  Font-family: "Font Awesome 5 Free";
}
.menu-container .menu-collepse ul li a:hover::before , a.active::before{
  content:'\f105';
  position:absolute;
  left:0;
  padding-right:5px;
  text-align: left;
  Font-family: "Font Awesome 5 Free";
}


.fullscreen-menu-content{
  margin-left:15.5vw;
  width:84vw;
}
.menu-container .menu-brand::after{
    content: 'Canlı Destek';
  }
.full-screen-message{
  width: 84vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Kanit, sans-serif;
  font-weight: bold;
}
footer{

  background-color: #eee;
  box-shadow:0px 0px 1px 0px #000;
  display: block;

}
footer h1{
  text-align: center;
  font-family: Kanit,sans-serif;
  font-size:14px;
}

footer h1 a{
  display: inline-block;
  text-decoration: none;
  color:rgba(3,143,227,1);
  transition: 400ms all;
}
footer h1 a:hover{
  color:gold;
}
.main-container{
  width: 100%;
  position: relative;
  padding-top:40px;
}
.main-container .redirect {
  width: 100%;
  font-family:Kanit,sans-serif;
  border-bottom:.1px solid #dfe6e9;  
  height: 50px;
}

.main-container .redirect .title,.location{
  position: absolute;
  top:50px;cursor: pointer;
  font-weight: bold;
}
.main-container .redirect .title{
  font-weight: 500;
  left:25px;
}
.main-container .redirect .location{
  right:25px;
}
.main-container .redirect .location a{
  font-weight: 500;
}
.main-container .content{
  width: 100%;
  margin:10px 0px;
}
@media (max-width: 1000px) {
  .container-fluid .row.pageinfo{
    padding-top:10px;
  }
  .fullscreen-menu-content{
    margin-left:0vw;
    margin-top:68px;
    width:100vw;
  }
  .full-screen-message{
    width:100vw;
    height: 70vh;
  }
  .menu-container {
    position: relative;
    width: 100vw;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu-container .menu-brand{
    height: 65px;
    position: absolute;
    left:5vw;
    box-shadow:0px 0px 0px;
    }
  .menu-container .menu-brand::after{
    content: '';
  }
  .menu-container .menu-collepse{
    display: none;
    position:absolute;
    top:0;left:0;
    z-index: 5;
    width: 100vw;
    height: auto;
    top:66px;
    background-color: #eee;
  }
  
  .menu-container .menu-collepse ul li{
    width: 100vw;
    padding-left:5vw;
    padding-top:20px;
    text-align:left;
  }
  .menu-container .menu-collepse ul li a{
    font-family:Kanit,sans-serif;
    font-size:25px;
  }
  .menu-container .menu-button{
    display: block;
    position:absolute;
    z-index:50;
    right: 5vw;
    font-size:33px;
    cursor: pointer;
  }
}
@media (min-width: 1000px) {
  .menu-container .menu-collepse{
    display: block !important;
  }
}
